USE [master]
GO
/****** Object:  Database [QuanLyCafe]    Script Date: 12/13/2021 4:57:46 PM ******/
CREATE DATABASE [QuanLyCafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCafe', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.TRACPHUONGKIET\MSSQL\DATA\QuanLyCafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCafe_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.TRACPHUONGKIET\MSSQL\DATA\QuanLyCafe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCafe]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDBill]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDBill]()
RETURNS int
AS
BEGIN
	DECLARE @ID int
	IF (SELECT COUNT(*) FROM Bill) = 0
		SET @ID = 0
	ELSE
		SELECT @ID = IdBill FROM Bill
		SET @ID = @ID + 1
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDDetailBill]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDDetailBill]()
RETURNS int
AS
BEGIN
	DECLARE @ID int
	IF (SELECT COUNT(*) FROM DetailBill) = 0
		SET @ID = 0
	ELSE
		SELECT @ID = IdDetailBill FROM DetailBill
		SET @ID = @ID + 1
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDDetailStatistic]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDDetailStatistic]()
RETURNS int
AS
BEGIN
	DECLARE @ID int
	IF (SELECT COUNT(*) FROM DetailStatistic) = 0
		SET @ID = 0
	ELSE
		SELECT @ID = IdDetailStatistic FROM DetailStatistic
		SET @ID = @ID + 1
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDMenu]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDMenu]()
RETURNS int
AS
BEGIN
	DECLARE @ID int
	IF (SELECT COUNT(*) FROM Menu) = 0
		SET @ID = 0
	ELSE
		SELECT @ID = IdMenu FROM Menu
		SET @ID = @ID + 1
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDStaff]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE FUNCTION [dbo].[AUTO_IDStaff]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(*) FROM Staff) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(IdStaff, 3)) FROM Staff
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'NV00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN  'NV0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDStatistic]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDStatistic]()
RETURNS int
AS
BEGIN
	DECLARE @ID int
	IF (SELECT COUNT(*) FROM Statistic) = 0
		SET @ID = 0
	ELSE
		SELECT @ID = IdStatistic FROM Statistic
		SET @ID = @ID + 1
	RETURN @ID
END
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDTable]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDTable]()
RETURNS int
AS
BEGIN
	DECLARE @ID int
	IF (SELECT COUNT(*) FROM TableCf) = 0
		SET @ID = 0
	ELSE
		SELECT @ID = IdTable FROM TableCf
		SET @ID = @ID + 1
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[IdBill] [int] NOT NULL,
	[IdTable] [int] NULL,
	[CheckIn] [datetime] NULL,
	[IdVoucher] [nvarchar](10) NULL,
	[IdPayment] [varchar](10) NULL,
	[IdStaff] [nvarchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[IDCategory] [varchar](10) NOT NULL,
	[NameCategory] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailBill]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailBill](
	[IdDetailBill] [int] NOT NULL,
	[IdBill] [int] NULL,
	[IdMenu] [int] NULL,
	[Amount] [int] NULL,
	[Price] [float] NULL,
	[TotalPrice] [float] NULL,
	[Note] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetailBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailStatistic]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailStatistic](
	[IdDetailStatistic] [int] NOT NULL,
	[IdStatistic] [int] NULL,
	[NameMenu] [nvarchar](100) NULL,
	[Amount] [int] NULL,
	[Price] [float] NULL,
	[TotalPrice] [float] NULL,
	[Note] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetailStatistic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdStaff] [nvarchar](5) NULL,
	[Action] [nvarchar](30) NULL,
	[Object] [nvarchar](20) NULL,
	[IdObject] [nvarchar](20) NULL,
	[DateStart] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[IdMaterial] [nvarchar](50) NOT NULL,
	[NameMaterial] [nvarchar](100) NULL,
	[Amount] [int] NULL,
	[Type] [nvarchar](10) NULL,
	[Status] [nvarchar](20) NULL,
	[Producer] [nvarchar](50) NULL,
	[ImportPrice] [float] NULL,
	[ImportDate] [date] NULL,
	[Picture] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[IdMenu] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Price] [float] NULL,
	[CategoryID] [varchar](10) NULL,
	[Picture] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[IdPayment] [varchar](10) NOT NULL,
	[Method] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPayment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[IdStaff] [nvarchar](5) NOT NULL,
	[NameStaff] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](11) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](4) NOT NULL,
	[BirthDay] [date] NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Picture] [nvarchar](150) NOT NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStaff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statistic]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statistic](
	[IdStatistic] [int] NOT NULL,
	[IdBill] [int] NULL,
	[PercentVoucher] [float] NULL,
	[PercentVAT] [float] NULL,
	[Total] [float] NULL,
	[Shift] [nvarchar](10) NULL,
	[NameStaff] [nvarchar](50) NULL,
	[CheckIn] [datetime] NULL,
	[CheckOut] [datetime] NULL,
	[Method] [nvarchar](50) NULL,
	[NameTable] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStatistic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableCf]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableCf](
	[IdTable] [int] NOT NULL,
	[NameTable] [nvarchar](10) NULL,
	[Status] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 12/13/2021 4:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[IdVoucher] [nvarchar](10) NOT NULL,
	[NameVoucher] [nvarchar](50) NOT NULL,
	[PercentVoucher] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([IDCategory], [NameCategory]) VALUES (N'CF', N'Cafe')
INSERT [dbo].[Category] ([IDCategory], [NameCategory]) VALUES (N'CK', N'Cake')
INSERT [dbo].[Category] ([IDCategory], [NameCategory]) VALUES (N'FD', N'Food')
GO
INSERT [dbo].[DetailStatistic] ([IdDetailStatistic], [IdStatistic], [NameMenu], [Amount], [Price], [TotalPrice], [Note]) VALUES (1, 1, N'Espresso', 1, 44000, 44000, N'')
INSERT [dbo].[DetailStatistic] ([IdDetailStatistic], [IdStatistic], [NameMenu], [Amount], [Price], [TotalPrice], [Note]) VALUES (2, 1, N'Phin Sữa (Đá)', 1, 29000, 29000, N'')
INSERT [dbo].[DetailStatistic] ([IdDetailStatistic], [IdStatistic], [NameMenu], [Amount], [Price], [TotalPrice], [Note]) VALUES (3, 2, N'Phin Đen (Nóng)', 1, 29000, 29000, N'')
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([ID], [IdStaff], [Action], [Object], [IdObject], [DateStart]) VALUES (1, N'NV01', N'xóa', N'menu', N'Late', CAST(N'2021-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Log] ([ID], [IdStaff], [Action], [Object], [IdObject], [DateStart]) VALUES (2, N'NV002', N'xóa', N'nhân viên', N'NV003', CAST(N'2021-11-16T18:07:44.000' AS DateTime))
INSERT [dbo].[Log] ([ID], [IdStaff], [Action], [Object], [IdObject], [DateStart]) VALUES (3, N'NV002', N'sửa', N'nhân viên', N'NV001', CAST(N'2021-11-16T18:08:09.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
INSERT [dbo].[Material] ([IdMaterial], [NameMaterial], [Amount], [Type], [Status], [Producer], [ImportPrice], [ImportDate], [Picture]) VALUES (N'NF_LYCHEE', N'Vải Ngâm', 6, N'Hộp', N'Còn hàng', N'Nif', 55000, CAST(N'2021-12-10' AS Date), N'\Image\Material\Khac\VaiNgam.jpg')
INSERT [dbo].[Material] ([IdMaterial], [NameMaterial], [Amount], [Type], [Status], [Producer], [ImportPrice], [ImportDate], [Picture]) VALUES (N'RD_PEACH', N'Đào Ngâm', 8, N'Hộp', N'Còn hàng', N'Rhodes', 55000, CAST(N'2021-12-10' AS Date), N'\Image\Material\Khac\DaoNgam.jpg')
INSERT [dbo].[Material] ([IdMaterial], [NameMaterial], [Amount], [Type], [Status], [Producer], [ImportPrice], [ImportDate], [Picture]) VALUES (N'SR_ORANGE', N'Syrup Cam', 7, N'Chai/Lon', N'Còn hàng', N'Torani', 45000, CAST(N'2021-11-15' AS Date), N'\Image\Material\Syrup\siro-torani-cam-torani-orange-syrup-750ml.png')
GO
INSERT [dbo].[Menu] ([IdMenu], [Name], [Price], [CategoryID], [Picture]) VALUES (1, N'Coca', 15000, N'SD', N'\Image\SoftDrink\Coca.PNG')
INSERT [dbo].[Menu] ([IdMenu], [Name], [Price], [CategoryID], [Picture]) VALUES (2, N'7Up', 15000, N'SD', N'\Image\SoftDrink\7up.PNG')
INSERT [dbo].[Menu] ([IdMenu], [Name], [Price], [CategoryID], [Picture]) VALUES (3, N'Espresso', 44000, N'CF', N'\Image\Cafe\Espresso.PNG')
GO
INSERT [dbo].[Payment] ([IdPayment], [Method]) VALUES (N'#NULL', N'Tiền mặt')
GO
INSERT [dbo].[Staff] ([IdStaff], [NameStaff], [Address], [PhoneNumber], [Email], [Gender], [BirthDay], [Role], [Password], [Picture], [IsDelete]) VALUES (N'NV001', N'Trác Phương Kiệt', N'da', N'0769499550', N'phuongkiet850@gmail.com', N'Nam', CAST(N'2001-01-29' AS Date), N'Thu ngân', N'33354741122871651676713774147412831195', N'\Image\NhanVien\241982101_564828874726069_2353499063666868269_n.jpg', 0)
INSERT [dbo].[Staff] ([IdStaff], [NameStaff], [Address], [PhoneNumber], [Email], [Gender], [BirthDay], [Role], [Password], [Picture], [IsDelete]) VALUES (N'NV002', N'Nguyễn Tăng Thanh Phương', N'Q12', N'0123456789', N'chinhchu@gmail.com', N'Nam', CAST(N'2001-01-09' AS Date), N'Quản lý', N'1962026656160185351301320480154111117132155', N'\Image\NhanVien\Nam_3.jpg', 0)
INSERT [dbo].[Staff] ([IdStaff], [NameStaff], [Address], [PhoneNumber], [Email], [Gender], [BirthDay], [Role], [Password], [Picture], [IsDelete]) VALUES (N'NV003', N'dasd', N'asdasd', N'0124587555', N'phuongkiet850d@gmail.com', N'Nam', CAST(N'2021-11-15' AS Date), N'Phục vụ', N'', N'\Image\NhanVien\241745361_564829181392705_7659333528664838532_n.jpg', 1)
GO
INSERT [dbo].[Statistic] ([IdStatistic], [IdBill], [PercentVoucher], [PercentVAT], [Total], [Shift], [NameStaff], [CheckIn], [CheckOut], [Method], [NameTable]) VALUES (1, 1, 0, 10, 80300, N'Ca tối', N'admin', CAST(N'2021-11-19T21:42:18.000' AS DateTime), CAST(N'2021-11-19T21:42:30.000' AS DateTime), N'Tiền mặt', N'Bàn 16')
INSERT [dbo].[Statistic] ([IdStatistic], [IdBill], [PercentVoucher], [PercentVAT], [Total], [Shift], [NameStaff], [CheckIn], [CheckOut], [Method], [NameTable]) VALUES (2, 2, 0, 10, 117700, N'Ca tối', N'Trác Phương Kiệt', CAST(N'2021-11-19T21:42:25.000' AS DateTime), CAST(N'2021-11-19T21:42:35.000' AS DateTime), N'Tiền mặt', N'Bàn 25')
INSERT [dbo].[Statistic] ([IdStatistic], [IdBill], [PercentVoucher], [PercentVAT], [Total], [Shift], [NameStaff], [CheckIn], [CheckOut], [Method], [NameTable]) VALUES (3, 1, 0, 10, 177100, N'Ca tối', N'admin', CAST(N'2021-11-20T17:20:16.000' AS DateTime), CAST(N'2021-11-20T17:20:22.000' AS DateTime), N'Tiền mặt', N'Bàn 25')
GO
INSERT [dbo].[TableCf] ([IdTable], [NameTable], [Status]) VALUES (1, N'Bàn 01', N'Trống')
INSERT [dbo].[TableCf] ([IdTable], [NameTable], [Status]) VALUES (2, N'Bàn 02', N'Trống')
INSERT [dbo].[TableCf] ([IdTable], [NameTable], [Status]) VALUES (3, N'Bàn 03', N'Trống')
GO
INSERT [dbo].[Voucher] ([IdVoucher], [NameVoucher], [PercentVoucher]) VALUES (N'#NULL', N'Không có', 0)
INSERT [dbo].[Voucher] ([IdVoucher], [NameVoucher], [PercentVoucher]) VALUES (N'SALE10%', N'Giảm 10%', 10)
INSERT [dbo].[Voucher] ([IdVoucher], [NameVoucher], [PercentVoucher]) VALUES (N'SALE7.5%', N'Giảm 7.5%', 7.5)
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT ([DBO].[AUTO_IDBill]()) FOR [IdBill]
GO
ALTER TABLE [dbo].[DetailBill] ADD  DEFAULT ([DBO].[AUTO_IDDetailBill]()) FOR [IdDetailBill]
GO
ALTER TABLE [dbo].[DetailStatistic] ADD  DEFAULT ([DBO].[AUTO_IDDetailStatistic]()) FOR [IdDetailStatistic]
GO
ALTER TABLE [dbo].[Menu] ADD  DEFAULT ([DBO].[AUTO_IDMenu]()) FOR [IdMenu]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT ([DBO].[AUTO_IDStaff]()) FOR [IdStaff]
GO
ALTER TABLE [dbo].[Statistic] ADD  DEFAULT ([DBO].[AUTO_IDStatistic]()) FOR [IdStatistic]
GO
ALTER TABLE [dbo].[TableCf] ADD  DEFAULT ([DBO].[AUTO_IDTable]()) FOR [IdTable]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([IdPayment])
REFERENCES [dbo].[Payment] ([IdPayment])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([IdStaff])
REFERENCES [dbo].[Staff] ([IdStaff])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([IdTable])
REFERENCES [dbo].[TableCf] ([IdTable])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([IdVoucher])
REFERENCES [dbo].[Voucher] ([IdVoucher])
GO
ALTER TABLE [dbo].[DetailBill]  WITH CHECK ADD FOREIGN KEY([IdBill])
REFERENCES [dbo].[Bill] ([IdBill])
GO
ALTER TABLE [dbo].[DetailBill]  WITH CHECK ADD FOREIGN KEY([IdMenu])
REFERENCES [dbo].[Menu] ([IdMenu])
GO
ALTER TABLE [dbo].[DetailStatistic]  WITH CHECK ADD FOREIGN KEY([IdStatistic])
REFERENCES [dbo].[Statistic] ([IdStatistic])
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([IDCategory])
GO
/****** Object:  StoredProcedure [dbo].[sp_AcceptLogin]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_AcceptLogin]
			@Email nvarchar(50),
			@Password nvarchar(50)
	as
	begin try
		begin tran
			
			select *  from Staff
            where Email =  @Email  and Password = @Password
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_AddBill]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_AddBill]
			@IdTable int,
			@CheckIn datetime,
			@IdVoucher varchar(10),
			@IdPayment varchar(10),
			@IdStaff nvarchar(5)
	as
	begin try
		begin tran
			
			insert into Bill(IdTable, CheckIn, IdVoucher, IdPayment, IdStaff) values
			(@IdTable, @CheckIn, @IdVoucher, @IdPayment, @IdStaff)
			
			Update TableCf
			set Status = N'Có người'
			where IdTable = @IdTable

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_AddDesertToBill]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_AddDesertToBill]
			@IdTable int,
			@IdMenu int,
			@Amount int,
			@Price float,
			@TotalPrice float,
			@Note nvarchar(100)
	as
	begin try
		begin tran

			DECLARE @ID int
			set @ID = (select IdBill from Bill where IdTable = @IdTable)

			insert into DetailBill(IdBill, IdMenu, Amount, Price, TotalPrice, Note) values
			(@ID, @IdMenu, @Amount, @Price, @TotalPrice, @Note)
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_AddDetailStatistic]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_AddDetailStatistic]
		@IdBill int,
		@NameMenu nvarchar(100),
		@Amount int,
		@Price float,
		@TotalPrice float,
		@Note nvarchar(100)
	as
	begin try
		begin tran
			
			DECLARE @ID int
			set @ID = (select Top(1) IdStatistic from Statistic where IdBill = @IdBill order by IdStatistic desc)

			insert into DetailStatistic(IdStatistic, NameMenu, Amount, Price, TotalPrice, Note) values
			(@ID, @NameMenu, @Amount, @Price, @TotalPrice, @Note)
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_AddMenu]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	create proc [dbo].[sp_AddMenu]
			@Name nvarchar(100),
			@Price float,
			@CategoryID nvarchar(10),
			@Picture nvarchar(150)
	as
	begin try
		begin tran

			insert into Menu(Name, Price, CategoryID, Picture) values
			(@Name, @Price, @CategoryID, @Picture)
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_AddStatistic]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_AddStatistic]
		@IdBill int,
		@PercentVoucher float,
		@PercentVAT float,
		@Total float,
		@Shift nvarchar(10),
		@NameStaff nvarchar(50),
		@CheckIn datetime,
		@CheckOut datetime,
		@Method nvarchar(50),
		@NameTable nvarchar(10)
	as
	begin try
		begin tran
			
			insert into Statistic(IdBill, PercentVoucher, PercentVAT, Total, Shift, NameStaff, CheckIn, CheckOut, Method, NameTable) values
			(@IdBill, @PercentVoucher, @PercentVAT, @Total, @Shift, @NameStaff, @CheckIn, @CheckOut, @Method, @NameTable)
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_BillTable_DGV]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_BillTable_DGV]
		@IdTable int
	as
	begin try
		begin tran
			
			select IdDetailBill, Name as 'Tên món', DetailBill.Amount as 'Số lượng', Note as 'Ghi chú', Menu.IdMenu from DetailBill
			join Bill on DetailBill.IdBill = Bill.IdBill
			join Menu on DetailBill.IdMenu = Menu.IdMenu
			where IdTable = @IdTable
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Delete]
			@IdTable int,
			@IdDetailBill int	
	as
	begin try
		begin tran
			DECLARE @ID int
			set @ID = (select IdBill from Bill where IdTable = @IdTable)

			delete from DetailBill
			where IdDetailBill = @IdDetailBill
			
			if (select count(*) from DetailBill where IdBill = @ID) = 0 
				begin
					delete from Bill
					where IdTable = @IdTable

					Update TableCf
					set Status = N'Trống'
					where IdTable = @IdTable
				end

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteBill]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_DeleteBill]
			@IdTable int,
			@IdBill int
	as
	begin try
		begin tran
			
			delete from DetailBill
			where IdBill = @IdBill

			delete from Bill
			where IdTable = @IdTable

			Update TableCf
			set Status = N'Trống'
			where IdTable = @IdTable
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMaterial]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_DeleteMaterial]
				@IdMaterial nvarchar(50)
	as
	begin try
		begin tran
			
			Delete from Material
			where IdMaterial = @IdMaterial

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMenu]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_DeleteMenu]
			@IdMenu int
	as
	begin try
		begin tran
			
			Delete from Menu
			where IdMenu = @IdMenu
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteProfileStaff]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_DeleteProfileStaff]
				@IdStaff nvarchar(5)
	as
	begin try
		begin tran

			update  Staff
			set IsDelete = 1
			where IdStaff = @IdStaff

			print N'Thao tác thành công'
		commit tran
	end try
	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteVoucher]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_DeleteVoucher]
				@IdVoucher nvarchar(10)
	as
	begin try
		begin tran
			
			delete from Voucher
			where IdVoucher = @IdVoucher

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_Detach]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Detach]
				@IdTable int,
				@IdDetailBill int,
				@Amount int,
				@AmountNew int,
				@Note nvarchar(100),
				@Price float,
				@TotalPrice float
	as
	begin try
		begin tran
			DECLARE @IdBill int
			set @IdBill = (select IdBill from Bill where IdTable = @IdTable)

			DECLARE @IdDetailBillNew int
			set @IdDetailBillNew = (select TOP(1) IdDetailBill from DetailBill where IdBill = @IdBill order by IdDetailBill desc)

			if (@Amount > 1)
				begin
					Update DetailBill
					set IdBill = @IdBill, Amount = @AmountNew, Note = @Note, Price = @Price, TotalPrice = @TotalPrice
					where IdDetailBill = @IdDetailBillNew

					Update DetailBill
					set Amount = @Amount - @AmountNew
					where IdDetailBill = @IdDetailBill

					Update DetailBill
					set TotalPrice = Amount * Price
					where IdDetailBill = @IdDetailBill
				end
			else
				begin
					Update DetailBill
					set IdBill = @IdBill
					where IdDetailBill = @IdDetailBill
				end

			if (select Amount from DetailBill where IdDetailBill = @IdDetailBill) = 0
				begin
					Delete from DetailBill 
					where IdDetailBill = @IdDetailBill
				end
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_DetailBill]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_DetailBill]
		@IdTable int
	as
	begin try
		begin tran
			
			select Name, DetailBill.Amount, DetailBill.Price, TotalPrice as Total, CheckIn, PercentVoucher, Note, NameStaff, DetailBill.IdBill, Bill.IdBill, IdDetailBill from DetailBill
			join Bill on DetailBill.IdBill = Bill.IdBill
			join Menu on DetailBill.IdMenu = Menu.IdMenu
			left join Staff on Bill.IdStaff = Staff.IdStaff
			left join Voucher on Bill.IdVoucher = Voucher.IdVoucher
			where IdTable = @IdTable
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_DetailStatistic]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_DetailStatistic]
				@IdStatistic int

	as
	begin try
		begin tran
			
			select * from DetailStatistic
			where IdStatistic = @IdStatistic

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_FindMaterial]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_FindMaterial]
				@Find nvarchar(255)
	as
	begin try
		begin tran
			
			select IdMaterial as 'Mã số', NameMaterial as 'Tên', Amount as 'Số lượng', Type as 'Đơn vị tính', Producer as 'Nhà sản xuất' from Material
			where IdMaterial like '%' + @Find + '%' or NameMaterial like '%' + @Find + '%' 

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_FindMenu_All]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_FindMenu_All]
				@Find nvarchar(255)
	as
	begin try
		begin tran
			
			select Name as 'Tên món', Price as 'Giá', NameCategory as 'Danh mục', IdMenu, Picture  from Menu
			join Category on Menu.CategoryID = Category.IDCategory
			where Name like '%' + @Find + '%'
			order by  NameCategory
             
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_FindMenu_Category]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_FindMenu_Category]
				@Find nvarchar(255),
				@IdCategory nvarchar(10)
	as
	begin try
		begin tran
			
			select Name as 'Tên món', Price as 'Giá', NameCategory as 'Danh mục', IdMenu, Picture  from Menu
			join Category on Menu.CategoryID = Category.IDCategory
			where IDCategory = @IdCategory and Name like '%' + @Find + '%'
			order by  NameCategory
             
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_FindProfileStaff_All]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_FindProfileStaff_All]
				@Find nvarchar(255)
	as
	begin try
		begin tran
			
			select IdStaff as 'Mã số', NameStaff as 'Họ tên', Gender as 'Giới tính', PhoneNumber as 'Số điện thoại', Email, Role as 'Vai trò' from Staff
             where  IsDelete = 0 and (NameStaff like N'%' + @Find + '%' or IdStaff like '%' + @Find + '%'or Email like '%' + @Find + '%' or Gender like N'%' + @Find + '%' or 
					Role like N'%' + @Find + '%' or PhoneNumber like '%' + @Find + '%' or Address like N'%' + @Find + '%' or 
					CONVERT(nvarchar, BirthDay, 101)  like '%' + CONVERT(nvarchar, @Find, 101) + '%' or 
					CONVERT(nvarchar, BirthDay, 103)  like '%' + CONVERT(nvarchar, @Find, 103) + '%' or 
					CONVERT(nvarchar, BirthDay, 111)  like '%' + CONVERT(nvarchar, @Find, 111) + '%')

			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_FindProfileStaff_FindBy]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_FindProfileStaff_FindBy]
				@FindBy nvarchar(255),
				@Find nvarchar(255)
	as
	begin try
		begin tran
			if @FindBy = 'IdStaff'
				 select IdStaff as 'Mã số', NameStaff as 'Họ tên', Gender as 'Giới tính', PhoneNumber as 'Số điện thoại', Email, Role as 'Vai trò' from Staff
				 where IsDelete = 0 and IdStaff like '%' + @Find + '%'
			else if @FindBy = 'NameStaff'
				 select IdStaff as 'Mã số', NameStaff as 'Họ tên', Gender as 'Giới tính', PhoneNumber as 'Số điện thoại', Email, Role as 'Vai trò' from Staff
				 where IsDelete = 0 and NameStaff like '%' + @Find + '%'
			else if @FindBy = 'Address'
				 select IdStaff as 'Mã số', NameStaff as 'Họ tên', Gender as 'Giới tính', PhoneNumber as 'Số điện thoại', Email, Role as 'Vai trò' from Staff
				 where IsDelete = 0 and Address like '%' + @Find + '%'
			else if @FindBy = 'PhoneNumber'
				 select IdStaff as 'Mã số', NameStaff as 'Họ tên', Gender as 'Giới tính', PhoneNumber as 'Số điện thoại', Email, Role as 'Vai trò' from Staff
				 where IsDelete = 0 and PhoneNumber like '%' + @Find + '%'
			else if  @FindBy = 'BirthDay'
				 select IdStaff as 'Mã số', NameStaff as 'Họ tên', Gender as 'Giới tính', PhoneNumber as 'Số điện thoại', Email, Role as 'Vai trò' from Staff
				 where	IsDelete = 0 and (	CONVERT(nvarchar, BirthDay, 101)  like '%' + CONVERT(nvarchar, @Find, 101) + '%' or 
											CONVERT(nvarchar, BirthDay, 103)  like '%' + CONVERT(nvarchar, @Find, 103) + '%' or 
											CONVERT(nvarchar, BirthDay, 111)  like '%' + CONVERT(nvarchar, @Find, 111) + '%')
			else if @FindBy = 'Email'
				 select IdStaff as 'Mã số', NameStaff as 'Họ tên', Gender as 'Giới tính', PhoneNumber as 'Số điện thoại', Email, Role as 'Vai trò' from Staff
				 where IsDelete = 0 and Email like '%' + @Find + '%'
			else if @FindBy = 'Role'
				 select IdStaff as 'Mã số', NameStaff as 'Họ tên', Gender as 'Giới tính', PhoneNumber as 'Số điện thoại', Email, Role as 'Vai trò' from Staff
				 where IsDelete = 0 and Role like '%' + @Find + '%'
			else if @FindBy = 'Gender'
				 select IdStaff as 'Mã số', NameStaff as 'Họ tên', Gender as 'Giới tính', PhoneNumber as 'Số điện thoại', Email, Role as 'Vai trò' from Staff
				 where IsDelete = 0 and Gender like '%' + @Find + '%'
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_FindVoucher]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_FindVoucher]
				@Find nvarchar(255)
	as
	begin try
		begin tran
			
			select IdVoucher as 'Mã khuyến mãi', NameVoucher as 'Tên khuyến mãi', PercentVoucher
			from Voucher
			where IdVoucher like '%' + @Find + '%' or NameVoucher like N'%' + @Find + '%' or PercentVoucher like '%' + @Find + '%'
			order by PercentVoucher

			print N'Thao tác thành công'

		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_ForgotPassword]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	create proc [dbo].[sp_ForgotPassword]
			@Email nvarchar(50)		
	as
	begin try
		begin tran
			
			select *  from Staff
            where Email =  @Email
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertLog]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_InsertLog]
			@IdStaff nvarchar(5),
			@Action nvarchar(30),
			@Object nvarchar(20),
			@IdObject nvarchar(20),
			@DateStart DateTime
	as
	begin try
		begin tran
			
			insert into Log values
			(@IdStaff, @Action, @Object, @IdObject, @DateStart)

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertMaterial]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_InsertMaterial]
				@IdMaterial nvarchar(50),
				@NameMaterial nvarchar(50),
				@Amount int,
				@Type nvarchar(10),
				@Status nvarchar(20),
				@Producer nvarchar(50),
				@ImportPrice float,
				@ImportDate Date,
				@Picture nvarchar(150)
	as
	begin try
		begin tran

			insert into Material values
			(@IdMaterial, @NameMaterial, @Amount, @Type, @Status, @Producer, @ImportPrice, @ImportDate, @Picture)
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertProfileStaff]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_InsertProfileStaff]
				@NameStaff nvarchar(50),
				@Address nvarchar(100),
				@PhoneNumber nvarchar(11),
				@Email nvarchar(50),
				@Gender nvarchar(4),
				@BirthDay date,
				@Role nvarchar(20),
				@Password nvarchar(50),
				@Picture nvarchar(150)

	
	as
	begin try
		begin tran
			insert into Staff(NameStaff, Address, PhoneNumber, Email, Gender, BirthDay, Role, Password, Picture, IsDelete) values
			(@NameStaff, @Address, @PhoneNumber, @Email, @Gender, @BirthDay, @Role, @Password, @Picture, 0)

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran

		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertVoucher]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_InsertVoucher]
					@IdVoucher nvarchar(10),
					@NameVoucher nvarchar(50),
					@Percent float				
	as
	begin try
		begin tran

			insert into Voucher values 
			(@IdVoucher, @NameVoucher, @Percent)
			

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran

		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_ListCategory]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListCategory]
	as
	begin try
		begin tran
			
			select * from Category
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_ListMaterial]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListMaterial]
	as
	begin try
		begin tran

			select * from Material

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_ListMaterial_DGV]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListMaterial_DGV]
	as
	begin try
		begin tran

			select IdMaterial as 'Mã số', NameMaterial as 'Tên', Amount as 'Số lượng', Type as 'Đơn vị tính', Producer as 'Nhà sản xuất' from Material

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_ListMaterial_Id]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListMaterial_Id]
				@IdMaterial nvarchar(50)
	as
	begin try
		begin tran

			select * from Material
			where IdMaterial = @IdMaterial

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch	
GO
/****** Object:  StoredProcedure [dbo].[sp_ListMenu]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListMenu]
			@CategoryID varchar(10)
	as
	begin try
		begin tran
			
			select *  from Menu where CategoryID = @CategoryID
			order by Name 
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_ListMenu_DGV]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListMenu_DGV]
	as
	begin try
		begin tran
			
			select Name as 'Tên món', Price as 'Giá', NameCategory as 'Danh mục', IdMenu, Picture  from Menu
			join Category on Menu.CategoryID = Category.IDCategory
			order by  NameCategory
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_ListPayMent]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListPayMent]
	as
	begin try
		begin tran
			
			select * from Payment
             order by IdPayment
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_ListProfileStaff]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListProfileStaff]

	as
	begin try
		begin tran
			
			select * from Staff
			where IsDelete = 0
			order by IdStaff

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_ListProfileStaff_DGV]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListProfileStaff_DGV]
	as
	begin try
		begin tran
				select IdStaff as 'Mã số', NameStaff as 'Họ tên', Gender as 'Giới tính', PhoneNumber as 'Số điện thoại', Email, Role as 'Vai trò' from Staff
				where IsDelete = 0
				order by IdStaff
        
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_ListStatistic]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListStatistic]
	as
	begin try
		begin tran
			
			select * from Statistic
			order by CheckOut desc
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_ListStatistic_MonthYear]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListStatistic_MonthYear]
				@Month int,
				@Year int
	as
	begin try
		begin tran
			
			select * from Statistic
			where Month(CheckOut) = @Month  and  Year(CheckOut) = @Year 
			order by CheckOut desc
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_ListStatistic_Year]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListStatistic_Year]
				@Year int
	as
	begin try
		begin tran
			
			select * from Statistic
			where Year(CheckOut) = @Year
			order by CheckOut desc
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_ListTable]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListTable]
	as
	begin try
		begin tran
			
			select *  from TableCf
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_ListVoucher]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListVoucher]

	as
	begin try
		begin tran

			select * from Voucher
			order by PercentVoucher

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran

		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_ListVoucher_DGV]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_ListVoucher_DGV]

	as
	begin try
		begin tran
			
			select IdVoucher as 'Mã khuyến mãi', NameVoucher as 'Tên khuyến mãi', PercentVoucher
			from Voucher
			order by PercentVoucher

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_Log]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Log]
			@Object nvarchar(20)
	as
	begin try
		begin tran
			
			select * from Log
			where Object = @Object
			order by DateStart desc

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_Logs]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create proc [dbo].[sp_Logs]
			@Object1 nvarchar(20),
			@Object2 nvarchar(20)
	as
	begin try
		begin tran
			
			select * from Log
			where Object = @Object1 or Object = @Object2
			order by DateStart desc

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_Merge]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Merge]
			@NewIdTable int,
			@OldIdTable int,	
			@NewIdBill int,
			@OldIdBill int
	as
	begin try
		begin tran
			
			Update TableCf
			set Status = N'Trống'
			where IdTable = @OldIdTable

			Update TableCf
			set Status = N'Có người'
			where IdTable = @NewIdTable

			Update DetailBill
			set IdBill = @NewIdBill
			where IdBill = @OldIdBill

			delete from Bill
			where IdTable = @OldIdTable
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_MergeBill]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_MergeBill]
				@IdTable int,
				@IdDetailBill int,
				@Amount int,
				@AmountNew int,
				@TotalPrice float
	as
	begin try
		begin tran
			DECLARE @IdBill int
			set @IdBill = (select IdBill from Bill where IdTable = @IdTable)

			DECLARE @IdDetailBillNew int
			set @IdDetailBillNew = (select TOP(1) IdDetailBill from DetailBill where IdBill = @IdBill order by IdDetailBill desc)

			Update DetailBill
			set Amount = @Amount + @AmountNew, TotalPrice = @TotalPrice
			where IdDetailBill = @IdDetailBill

			Delete from DetailBill 
			where IdDetailBill = @IdDetailBillNew
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_MergeBillMenu]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_MergeBillMenu]
				@IdDetailBill int,
				@Amount int,
				@AmountNew int
	as
	begin try
		begin tran

			Update DetailBill
			set Amount = @Amount + @AmountNew
			where IdDetailBill = @IdDetailBill

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectIdStaff]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_SelectIdStaff]
	as
	begin try
		begin tran
		declare  @ID nvarchar(5)
		set @ID = dbo.AUTO_IDStaff()
		select @ID
		
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran

		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectIdStaff_DGV]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_SelectIdStaff_DGV]
				@IdStaff nvarchar(10)
	as
	begin try
		begin tran

			select * from Staff where  IdStaff = @IdStaff
			

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran

		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_SelectIdVoucher]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_SelectIdVoucher]
				@IdVoucher nvarchar(10)
	as
	begin try
		begin tran

			select * from Voucher where  IdVoucher = @IdVoucher
			order by PercentVoucher
			

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran

		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_Statistic]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Statistic]
				@IdStatistic int

	as
	begin try
		begin tran
			
			select * from Statistic
			where IdStatistic = @IdStatistic

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_Statistic_All]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Statistic_All]
				@Value1 varchar(50),
				@Value2 varchar(50)
	as
	begin try
		begin tran
			
			select * from Statistic
			where CheckOut between @Value1 and @Value2
			order by CheckOut desc

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_Statistic_Shift]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Statistic_Shift]
				@Value1 varchar(50),
				@Value2 varchar(50),
				@Shift nvarchar(10)
	as
	begin try
		begin tran
			
			select * from Statistic
			where CheckOut between @Value1 and @Value2 and Shift = @Shift
			order by CheckOut desc

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_Statistic_Shift_Staff]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Statistic_Shift_Staff]
				@Value1 varchar(50),
				@Value2 varchar(50),
				@Shift nvarchar(10),
				@NameStaff nvarchar(50)
	as
	begin try
		begin tran
			
			select * from Statistic
			where CheckOut between @Value1 and @Value2 and Shift = @Shift and NameStaff = @NameStaff
			order by CheckOut desc

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_Statistic_Staff]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Statistic_Staff]
				@Value1 varchar(50),
				@Value2 varchar(50),
				@NameStaff nvarchar(50)
	as
	begin try
		begin tran
			
			select * from Statistic
			where CheckOut between @Value1 and @Value2 and NameStaff = @NameStaff
			order by CheckOut desc

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_StatisticChoose]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_StatisticChoose]
				@Value1 varchar(50),
				@Value2 varchar(50)
	as
	begin try
		begin tran
			
			select CONVERT(nvarchar, CheckOut, 101) as 'Thời gian', Sum(Total) as 'Tổng' from Statistic
			where CheckOut between @Value1 and @Value2
			group by CONVERT(nvarchar, CheckOut, 101)
			order by CONVERT(nvarchar, CheckOut, 101) desc
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_StatisticChoose_Month]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_StatisticChoose_Month]
					@Month int
	as
	begin try
		begin tran
			
			select Sum(Total) as 'Tổng' from Statistic
			where Month(CheckOut) = @Month
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_StatisticChoose_MonthStaff]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_StatisticChoose_MonthStaff]
				@Value1 varchar(50),
				@Value2 varchar(50),
				@NameStaff nvarchar(50)
	as
	begin try
		begin tran
			
			select CONVERT(nvarchar, CheckOut, 101), Sum(Total) as 'Tổng' from Statistic
			where CheckOut between @Value1 and @Value2 and NameStaff = @NameStaff
			group by CONVERT(nvarchar, CheckOut, 101)
			order by CONVERT(nvarchar, CheckOut, 101) desc
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_StatisticChoose_MonthYear]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_StatisticChoose_MonthYear]
					@Month int,
					@Year int
	as
	begin try
		begin tran
			
			select Sum(Total) as 'Tổng' from Statistic
			where Month(CheckOut) = @Month  and  Year(CheckOut) = @Year 
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_StatisticChoose_YearStaff]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_StatisticChoose_YearStaff]
					@Month int,
					@Year int,
					@NameStaff nvarchar(50)
	as
	begin try
		begin tran
			
			select Sum(Total) as 'Tổng' from Statistic
			where Month(CheckOut) = @Month  and  Year(CheckOut) = @Year and NameStaff = @NameStaff
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_Switch]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_Switch]
			@NewIdTable int,
			@OldIdTable int	
	as
	begin try
		begin tran
			
			Update TableCf
			set Status = N'Trống'
			where IdTable = @OldIdTable

			Update TableCf
			set Status = N'Có người'
			where IdTable = @NewIdTable

			Update Bill
			set IdTable = @NewIdTable
			where IdTable = @OldIdTable
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_Table]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create proc [dbo].[sp_Table]
		@IdTable int
	as
	begin try
		begin tran
			
			select * from TableCf
			where IdTable = @IdTable
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_TagItem]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_TagItem]
		@IdMenu int
	as
	begin try
		begin tran
			
			select * from Menu
			where IdMenu = @IdMenu
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_TopDay]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_TopDay]
				@Value1 varchar(50),
				@Value2 varchar(50)
	as
	begin try
		begin tran
			
			select top(3) Count(NameMenu), NameMenu from Statistic
			join DetailStatistic on Statistic.IdStatistic = DetailStatistic.IdStatistic
			where CheckOut between @Value1 and @Value2
			group by NameMenu
			order by Count(NameMenu) desc
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_TopMonth]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_TopMonth]
				@Year int,
				@Month int
	as
	begin try
		begin tran
			
			select top(3) Count(NameMenu), NameMenu from Statistic
			join DetailStatistic on Statistic.IdStatistic = DetailStatistic.IdStatistic
			where Year(CheckOut) = @Year and Month(CheckOut) =  @Month
			group by NameMenu
			order by Count(NameMenu) desc
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_TopYear]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_TopYear]
					@Year int
	as
	begin try
		begin tran
			
			select top(3) Count(NameMenu), NameMenu from Statistic
			join DetailStatistic on Statistic.IdStatistic = DetailStatistic.IdStatistic
			where Year(CheckOut) = @Year 
			group by NameMenu
			order by Count(NameMenu) desc
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMaterial]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_UpdateMaterial]
				@IdMaterial nvarchar(50),
				@NameMaterial nvarchar(50),
				@Amount int,
				@Type nvarchar(10),
				@Status nvarchar(20),
				@Producer nvarchar(50),
				@ImportPrice float,
				@ImportDate Date,
				@Picture nvarchar(150)
	as
	begin try
		begin tran
			
			Update Material
			set NameMaterial = @NameMaterial, Amount = @Amount, Type = @Type, Status = @Status, Producer = @Producer, ImportPrice = @ImportPrice, ImportDate = @ImportDate, Picture = @Picture
			where IdMaterial = @IdMaterial

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMenu]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_UpdateMenu]
			@Name nvarchar(100),
			@Price float,
			@CategoryID nvarchar(10),
			@Picture nvarchar(150),
			@IdMenu int
	as
	begin try
		begin tran
			
			update Menu
			set Name = @Name, Price = @Price, CategoryID = @CategoryID, Picture = @Picture
			where IdMenu = @IdMenu
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePassword]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_UpdatePassword]
			@Email nvarchar(50),	
			@Password nvarchar(50)		
	as
	begin try
		begin tran
			
			Update Staff
			set Password = @Password
			where Email = @Email
			
			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProfileStaff]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_UpdateProfileStaff]
				@IdStaff nvarchar(10),
				@NameStaff nvarchar(50),
				@Address nvarchar(100),
				@PhoneNumber nvarchar(11),
				@Gender nvarchar(4),
				@BirthDay date,
				@Role nvarchar(20),
				@Picture nvarchar(150)
	as
	begin try
		begin tran

			update  Staff
			set NameStaff = @NameStaff, Address = @Address, PhoneNumber = @PhoneNumber, Gender = @Gender, BirthDay = @BirthDay, Role = @Role, Picture = @Picture
			where IdStaff = @IdStaff

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateVoucher]    Script Date: 12/13/2021 4:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_UpdateVoucher]
				@IdVoucher nvarchar(10),
				@NameVoucher nvarchar(50),
				@Percent float
	as
	begin try
		begin tran
			
			update Voucher
			set  NameVoucher = @NameVoucher, PercentVoucher = @Percent
			where IdVoucher = @IdVoucher

			print N'Thao tác thành công'
		commit tran
	end try

	begin catch
		rollback tran
		print N'Thao tác không thành công'
	end catch
GO
USE [master]
GO
