<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUI_QuanLyCafe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Data" connectionString="Data Source=DESKTOP-PHUONGK\TRACPHUONGKIET;Initial Catalog=QuanLyCafe;Integrated Security=True" />
  </connectionStrings>
    <userSettings>
        <GUI_QuanLyCafe.Properties.Settings>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Memo" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="InstanceName" serializeAs="String">
                <value />
            </setting>
        </GUI_QuanLyCafe.Properties.Settings>
    </userSettings>
</configuration>